<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2">
        <activity
            android:name=".roomStatusActivity"
            android:exported="false" />
        <activity
            android:name=".SearchRoomActivity"
            android:exported="false" />
        <activity
            android:name=".sportActivity"
            android:exported="true" />
        <activity
            android:name=".FoodActivity"
            android:exported="true" />
        <activity
            android:name=".beauty"
            android:exported="true" />
        <activity
            android:name=".HotelServeciesActivity"
            android:exported="true" />
        <activity
            android:name=".search"
            android:exported="true" />
        <activity
            android:name=".Gallery"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".offersActivity"
            android:exported="true" />
        <activity
            android:name=".CheckInOut"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>